@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.ej {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    gap: 10px;
}

.fcm {
    margin: 10px;
    width: 400px;
    height: 400px;
}

.brd {
    border: 2px solid red;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}